<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <button class="btn" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item my-auto">
          <form class="d-none d-sm-inline-block form-inline">
            <div class="input-group">
              <input type="text" class="form-control bg-light border border-2 small" id="searchDesktop" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-light border border-primary text-primary" type="button" onclick="searchByKeyword()">
                  Search
                </button>
              </div>
            </div>
          </form>
        </li>
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" id="searchMobile" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" onclick="searchByKeyword()">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="mr-2 ml-4" style="border-radius: 50%;padding: 5px 12px;background-color: #CFD4ED;">
              <p class="my-auto text-dark fw-bold">B</p>
            </div>
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hendri Permana Putra</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item"><a href="#" class="text-dark fw-bold">Cars</a></li>
          <% if(page == 'Add New Car' || page == 'Update Car Information'){ %>
          <li class="breadcrumb-item"><a href="/" class="text-dark fw-bold">List Cars</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= page %>
          </li>
          <% }else{ %>
          <li class="breadcrumb-item active" aria-current="page">
            List Cars
          </li>
          <% } %>
        </ol>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="text-dark mb-0 font-weight-bold ml-3">
          <%= page %>
        </h5>
        <% if(page != 'Add New Car' && page != 'Update Car Information' ) { %>
        <a href="/add-car" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">+ Add New Car</a>
        <% } %>
      </div>
    </div>
    <% if(page != 'Add New Car' && page != 'Update Car Information' ) { %>
    <div class="container mb-3">
      <a href="/"
        class="btn btn-sm <%= size != undefined && size == 'all' ? "btn-primary" : "btn-outline-primary" %> mr-3">All</a>
      <a href="/cars/size/small"
        class="btn btn-sm <%= size != undefined && size == "small" ? "btn-primary" : "btn-outline-primary" %> mr-3">Small</a>
      <a href="/cars/size/medium"
        class="btn btn-sm <%= size != undefined && size == "medium" ? "btn-primary" : "btn-outline-primary" %> mr-3">Medium</a>
      <a href="/cars/size/large"
        class="btn btn-sm <%= size != undefined && size == "large" ? "btn-primary" : "btn-outline-primary" %> mr-3">Large</a>
    </div>
    <% }%>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>